<div class="nav-item px-3">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Booker
    </NavLink>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <AuthorizeView Roles="Admin,User">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="booking">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Bookings
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Show">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Shows
                    </NavLink>
                </div>
            </Authorized>

        </AuthorizeView>
       
        <AuthorizeView Roles="Admin,Manager">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="movie">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Movies
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="reservation">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Reservations
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="salon">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Salons
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

