@using Request.HTTP.RequestService.IRequestService
@using Request.HTTP.DTO.MovieTheatreDTO
@using System.Net.Http
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer
@inject IMovieService movieService

<td>
    <button class="btn btn-danger" @onclick="RemoveMovie">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z" />
        </svg>
    </button>

</td>

@code {
    [Parameter]
    public MovieDTO movieDTO { get; set; }
    [Parameter]
    public EventCallback<int> OnRemove { get; set; }


    private async Task RemoveMovie()
    {
        try
        {
            await movieService.RemoveMovieById(movieDTO.Id);
            await OnRemove.InvokeAsync();

        }
        catch (Exception ex)
        {

            Console.WriteLine($"Error: {ex.Message}");
        }
    }

}
