@page "/"
@using Booking.Api.Data
@using Booking.Api.Entities
@inject CinemaDbContext DbContext

<link rel="stylesheet" href="BookingLayout.css" />

<div class="container">
    <div class="card mx-auto mt-5" style="max-width: 500px;">
        <div class="card-body">
            <h5 class="card-title text-center">Booking Form</h5>

            <form>
                <div class="mb-3">
                    <label for="Name" class="form-label">Name:</label>
                    <input type="text" id="Name" class="form-control" @bind="bookingData.Name" />
                </div>

                <div class="mb-3">
                    <label for="LastName" class="form-label">Last Name:</label>
                    <input type="text" id="LastName" class="form-control" @bind="bookingData.LastName" />
                </div>

                <div class="mb-3">
                    <label for="Email" class="form-label">Email:</label>
                    <input type="email" id="Email" class="form-control" @bind="bookingData.Email" />
                </div>

                <div class="mb-3">
                    <label for="PhoneNumber" class="form-label">Phone Number:</label>
                    <input type="tel" id="PhoneNumber" class="form-control" @bind="bookingData.PhoneNumber" />
                </div>

                <button type="button" class="btn btn-primary" @onclick="SubmitBooking">Book Now</button>
            </form>
        </div>
    </div>
</div>

@code {
    private Booker bookingData = new Booker();

    private void SubmitBooking()
    {
        var bookingEntity = new Booker()
            {
                Id = bookingData.Id,
                Name = bookingData.Name,
                LastName = bookingData.LastName,
                Email = bookingData.Email,
                PhoneNumber = bookingData.PhoneNumber,
            };

        DbContext.bookers.Add(bookingEntity);
        DbContext.SaveChanges();

        bookingData = new Booker();
    }
}
