@using Request.HTTP.RequestService.IRequestService
@using Request.HTTP.DTO.MovieTheatreDTO
@using System.Net.Http
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@rendermode InteractiveServer
@inject IShowService showService

<td>
    <button class="btn btn-success" @onclick="() => EditShow()">
        Save
    </button>
</td>

@code {
    [Parameter]
    public ShowDTO showDTO { get; set; }
    [Parameter]
    public EventCallback<int> OnEdited { get; set; }



    private async Task EditShow()
    {
        try
        {
            await showService.EditShowById(showDTO);
            await OnEdited.InvokeAsync();

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error: {ex.Message}");

        }
    }
}
