@using Booking.View.Components.Modals;
<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
        <MovieTheatreBookingModal />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <p>Not found</p>
    </NotFound>
</Router>
