<h2 class="fw-bolder"> Welcome to <span class="text-decoration-underline">Booking app!</span></h2>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Random Card</h5>
                <p class="card-text">LoremIpsumText</p>
            </div>
        </div>
    </div>
</div>