@page "/Profile"
@using System.Collections.Generic

<h1>User Profile</h1>

    <div>
        <h2>Welcome, </h2>
        <p>Email: </p>
        <p>Username: </p>
        <p>Joined:()</p>
    </div>

@code {
}
