@page "/booking"
@using Request.HTTP
@using Request.HTTP.DTO.MovieTheatreDTO
<PageTitle>Bokningar</PageTitle>

<ul>
    @foreach (var item in bookers)
    {
        <li>
            <div>
                <strong>Name:</strong> @item.Name
            </div>
            <div>
                <strong>Last Name:</strong> @item.LastName
            </div>
            <div>
                <strong>Email:</strong> @item.Email
            </div>
            <div>
                <strong>Phone Number:</strong> @item.PhoneNumber
            </div>
        </li>
    }
</ul>


@code {
    private List<BookerDTO> bookers = new List<BookerDTO>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
          
            
        }
        catch (Exception ex)
        {
            
        }
    }
}
