@page "/"
@using BookerPortal.Web.Components.Pages.Account
@using System.Security.Claims
@rendermode InteractiveServer


<PageTitle>Home</PageTitle>

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <AuthorizeView>
                    <NotAuthorized>
                        <OfflineHome></OfflineHome>
                    </NotAuthorized>
                    <Authorized>
                        <OnlineHome></OnlineHome>
                        <span>Logged in as <b>@context.User.FindFirst(ClaimTypes.Email)?.Value</b></span>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
