@page "/"
@using BookerPortal.Web.Components.Pages.Account
@rendermode InteractiveServer


<PageTitle>Home</PageTitle>

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <AuthorizeView>
                    <NotAuthorized>
                        <OfflineHome></OfflineHome>
                    </NotAuthorized>
                    <Authorized>
                        <OnlineHome></OnlineHome>
                    </Authorized>
                </AuthorizeView>
            </div>
        </div>
    </div>
